.form__label--item {
    color:#6b6363;
    margin-top: 5px;
}

.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1000px;
    /*画像の高さを設定する！！！*/
    overflow-x: hidden;
    overflow-y: hidden;
    background-color:#ffffff;
    box-shadow: 0 0 0 1px #ccc;
    border-radius: 5px;
    border: none;
    box-shadow: none;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
    color: #6b6363;
    width: 100%;
}

.form {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    min-height: 300px;
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form__group-title {
    margin-top: 5px;
    margin-right: 10px;
    padding: 10px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    display: flex;
}

.form__group-content {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    justify-content: flex-end;
    flex-direction: row;
}

.form__label--required {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    color: #f40404;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.last-name, .first-name {
    display: flex;
    flex-direction: row;
}

.tel_box {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 800px) {
    .contact-form__content {
        padding: 30px 15px;
        max-width: none;
        width: 100%;
        border: none;
        margin: 0;
    }

    .form {
        width: 90%;
        margin: 0 auto;
    }

.form__input--text input,
.form__input--textarea textarea,
.form__input--select select {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
    width: calc(100% - 20px);
    }
}
.form__input--text input,
.form__input--textarea textarea,
.form__input--select select {
    flex: 1;
        /* フォーム欄が残りのスペースを占めるようにする */
    margin-left: 10px;
        /* フォームと※の間隔を調整 */
    margin-top: 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
    background-color: #f1f1f1;
    /* 姓と名の入力フィールドの背景色をベージュに設定 */
    width: calc(100% - 20px);
}

.form__input--text label {
    display: block;
    margin-bottom: 5px;
    width: 100px;
}

.form__input--text input {
    height: 40px;
}

.form__input--textarea textarea {
    height: 180px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background:#6b6363;
    color: #fff;
    cursor: pointer;
}

.form__input--radio {
    color: #6b6363;
    background-color: #ffffff;
    display: block;

}

.form__input--radio label {
    background-color: #ddd;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
    display: inline-block;
}

.form__input--radio:checked label {
    background-color:#6b6363;
    color: #6b6363;
}



.form__input--select option {
    color: #6b6363;
}

.last-name {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.last-name .form__input--text {
    margin-right: 10px;
}